body {
  

    background: pink;
    margin: 0;
    padding: 0;
  }
  
  .encabezado {
    background: #f1948a;
        margin-top: -21px;
        height: 100px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribuye el espacio entre los elementos */
        padding: 0 20px;
        font-family: 'Chicle', serif;
  }
  
  .detalles-producto {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
    font-family: 'Chicle', serif;
  }

  .detalles-producto img{
    
    width: 500px;
    margin-left: 20px;
  }


  .detalles-texto {
    max-width: 80%;
    margin-top: 20px;
    font-family: 'Chicle', serif;
    margin-left: 100px;
    bottom: 200px;
  }
  
  h1{
    font-family: 'Chicle', serif;
    margin-left: 20px;

  }
  

  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  .logo {
    margin-top: 10px;
  }

  .logo img {
    width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
  }

#agregarAlCarrito{
  background: linear-gradient(to right, #ff69b4, #ec407a);

  border: none;
  border-radius: 20px;

  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-left: 600px;
}

#agregarAlCarrito:hover{
  background: linear-gradient(to right, #ec407a, #d81b60);

}


  
