body {
  font-family: 'Chicle', serif;
  margin: 0;
  padding: 0;
  background: pink;
}

h1{
  margin-left: 20px;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilo para los cards */
  .card {
    margin: 5px;
    border: 1px solid #c1c2ca;
    padding: 16px;
    border-radius: 20px;
  }
  
  
  .encabezado {
    background: #f1948a;
    margin-top: -21px;
    height: 100px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
  
  /* Estilo para la ventana modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 60px;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  #modal-content {
    text-align: left;
  }
  
  .close {
    float: right;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .product-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-info img {
    width: 50px;
    margin-right: 10px;
  }
  
  #total {
    margin-top: 10px;
    font-weight: bold;
    margin-left: 20px;
  }
  
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Chicle', serif;
}

.logo {
  margin-top: 10px;
}

.logo img {
  width: 200px;
  /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

#carritoCantidad {
  display: inline-block;
  background-color: purple;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  margin-left: 5px;
}


.card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background:  linear-gradient(to bottom, #000000, #FF69B4);;
}

.card img {
  width: 50px;
  margin-right: 10px;
}

.card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.card .price {
  margin-right: 10px;
}

.card .buttons {
  display: flex;
}

.card .buttons button {
  margin-right: 5px;
}

#vaciarCarrito{
  background: linear-gradient(to right, #ff69b4, #ec407a);

  border: none;
  border-radius: 20px;

  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Chicle', serif;
  margin-left: 20px;

}


#vaciarCarrito:hover{
  background: linear-gradient(to right, #ec407a, #d81b60);
}


.deleteButton {
  background-color: #ff6347;
  color: #fff;
  border: 1px solid #ff6347;
}

.deleteButton:hover {
  background-color: #d9534f;
  border: 1px solid #d9534f;
}


.incrementButton{
  background-color: #000000;
}

